:root {
    --bg: #081c15;
    --fg: #d8f3dc;
    --social: #52b788;
    --link: #40916c;
}

body {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 15px;
}

main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    grid-template-areas:
    "left-main"
    "right-main"
    "left-secondary"
    "right-secondary";
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: end;
    height: 100vh;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--social);
}

a:focus {
    border: 2px solid var(--social);
    margin: -2px;
    color: var(--social);
    text-decoration: none;
}

h2 {
    font-weight: 400;
    margin-bottom: 0;
    padding: 0 2.25rem;
    font-size: 1.1rem;
}

article {
    width: 100%;
    font-size: 1rem;
}

p {
    padding: 0 2.25rem;
    margin-top: 0;
}

#content--left {
    display: grid;
    color: var(--bg);
    background: var(--fg);
    grid-area: left-main; 
    grid-template-rows: 5rem auto;
}

#content--left section, #content--right section {
    display: grid;
    align-content: center;
    height: unset;
    margin-top: -10rem; /* compensation :( */
}


#content--left h1 {
    font-size: 2.25rem;
    font-weight: 400;
    padding: 2.25rem;
    margin:0;
    color: var(--social);
}

#content--right {
    display: grid;
    grid-area: right-main; 
    grid-template-rows: 5rem auto;
    background: var(--bg);
    color: var(--fg);
}

#content--socials {
    background: var(--bg);
    color: var(--fg);
    display: grid;
    align-content: center;
    grid-area: left-secondary;
}

#content--socials a, #content--whatever a {
    padding: 0 2.25rem;
    text-decoration: none;
}

#content--whatever {
    display: grid;
    color: var(--bg);
    background: var(--fg);
    align-content: center;
    grid-area: right-secondary;
}

#scroll-down {
    position: absolute;
    right: 2.25rem;
    bottom: 2.25rem;
    display: block;
    z-index: 100;
    text-shadow: 0;
    width: 1rem;
    height: 1rem;
    border-bottom: 2px solid var(--social);
    border-right: 2px solid var(--social);
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    cursor: pointer;
  }


@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    opacity: 0;
    -moz-animation   : fade 0.5s ease-out !important;
    -webkit-animation: fade 0.5s ease-out !important;
    animation        : fade 0.5s ease-out !important;
}

@media screen and (orientation:landscape) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "left-main right-main"
            "left-secondary right-secondary";
    }

    article {
        width: 100%;
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.75rem;
    }

}